<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <%= link_to "メッセージ投稿サイト", users_path, class: "navbar-brand" %>
        <form class="form-inline">
          <%= link_to "ログインアウト", "#", class: "btn-flat-border" %>
        </form>
</nav>

<div class="title-look">
<h1 class="user-title">質問内容一覧</h1>
</div>
<% @users.each do |title| %>

 <ul class ="title-after">
     
     <li>タイトル:<%= title.title %></li>
 </ul>


<% end %>









