  <!-- 共通ナビバー 開始 -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a href="/",class="navbar-brand">情報共有サイト</a>
        
        <form class="form-inline">
          
              <%= link_to "ログインする", login_path, class: "btn-flat-border" %></li>
    
        </form>
    </nav>
  <!--共通ナビバー終了 -->

  <!-- トップページ開始　-->
    <div class="text">
        <h1 class="app">情報共有サイト</h1>
            
        <h2>情報共有サイトとは？</h2>
        <p>日々の生活の中で、疑問に思ったことを投稿し、<br>その事柄について知識のある方が、その内容に対しての答えを投稿し、</br>知識の共有を行うサービスです。</p>
    
    
    <%= link_to "アカウント作成", signup_path, class: "user-create" %>
    
    </div>
