<h1 class=myinformation>My情報</h1>

<p class="check">投稿した内容</p>
    
<ul class ="title-check">
    <% @title.each do |t| %>
    <ul>
        <li><%= t.title %></li>
        <li><%= link_to "返答状況確認","#" %></li>
    </ul>
    <% end %>
</ul>