// Place all the styles related to the titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.push-display {
    margin-top:50px;
    border-bottom: medium solid #ff00ff;
    text-align:center;
}

.pagenation {
    margin:50px 0px 0px 600px ;
}

.information-new {
    width:800px;
    margin:80px 0px 30px 310px;
}

.form_group {
    margin-top:30px;
}